.ui-sortable-placeholder {
    margin-top: 20px;
    background: #aaa;
    visibility: visible !important;
}

div.plan {
    margin-bottom: 0 !important;
}

.plan-icons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.plan-icon {
    float: left;
    margin-left: 6px;
    width: 32px;
    height: 32px;
    top: 10px;
    right: 10px;
    opacity: .5;
    transition-duration: .2s;
}

.plan-icon:hover {
    opacity: 1;
}

.plan-moveHandle {
    cursor: move;
    background: no-repeat -32px 0 url("icons.png");
}

.plan-changeOpacity {
    cursor: pointer;
    background: no-repeat url("icons.png");
}

.plansGroupWrapper {
    padding-bottom: 30px;
}

.plansGroupWrapper.folded [plan_id] {
    display: none;
}

.plansGroupWrapper-info {
    padding: 12px;
    background: rgba(255,255,255,.5);
    border: rgba(0,0,0,.5);
    border-radius: 3px;
}

.plansGroupWrapper-info span {
    display: inline-block;
    margin-right: 30px;
}

.plansGroupWrapper-info .domainName {
    font-weight: bold;
    min-width: 100px;
}

.plansGroupToggle {
    margin-left: 40px;
}

.plansGroupMode {
    text-align: right;
    padding: 10px 20px;
}

